input[aria-invalid="true"] {
  border: 2px solid #dc3545 !important;
}

.react-select.error {
  .select__control {
    border: 2px solid #dc3545 !important;
  }
}

.Icon-inside {
  position: relative;
}

.icon {
  position: absolute;
  margin-left: 18px;
  top: 43px;
}

// .icon_tick[aria-invalid="false"] {
//   border-color: #198754;
//   padding-right: calc(1.5em + 0.75rem);
//   background-image: url("../../assets/ticksvg.svg");
//   background-repeat: no-repeat;
//   background-position: right calc(0.375em + 0.1875rem) center;
//   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
// }
